* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;

}

body {
    background-color: #363333;
    font-family: 'Nunito Sans', sans-serif;
}

img {
    display: block;
    border: 1px solid #f6e9e9;
    border-radius: 100px;
    margin: 2rem auto;
    padding: 5px;
    object-fit: cover;
    width: 8rem;
}

h1 {
    color: #f6e9e9;
    font-family: 'Caveat';
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}

svg {
    display: block;
    margin: .5rem auto;

}

p {
    color: a19090;
    font-size: 1.25rem;
    font-weight: 200;
    margin-bottom: 2rem;
    text-align: center;
}

a {
    color: #e16428;
    border: 2px solid #e16428;
    border-radius: 100px;
    box-shadow: 0 2px 6px rgba(39, 33, 33, 0.5);
    display: block;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0 auto 1.5rem;
    max-width: 280px;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .2s
}

a:hover{
    background-color: #e16428;
    color: #f6e9e9;
}